<div class="w-64 h-screen bg-gray-700 text-white">
    <div class="flex items-center justify-center h-16">
        <h2 class="text-xl font-semibold">Company Settings</h2>
    </div>

    <nav class="mt-6">
        <ul>
            <li>
                <a href="{% url 'company_settings:company_view' name=request.user.company.name %}"
                    class="block py-2 px-4 text-gray-300 hover:bg-gray-700 hover:text-white transition duration-200">
                    <i class="fas fa-building mr-3"></i> Company Info
                </a>
            </li>
            <li>
                <a href="{% url 'company_settings:user_management' name=request.user.company.name %}"
                    class="block py-2 px-4 text-gray-300 hover:bg-gray-700 hover:text-white transition duration-200">
                    <i class="fas fa-users mr-3"></i> User Management
                </a>
            </li>
            <li>
                <a href="{% url 'company_settings:subscription' name=request.user.company.name %}"
                    class="block py-2 px-4 text-gray-300 hover:bg-gray-700 hover:text-white transition duration-200">
                    <i class="fas fa-credit-card mr-3"></i> Subscription
                </a>
            </li>
            <li>
                <a href="{% url 'company_settings:security' name=request.user.company.name %}"
                    class="block py-2 px-4 text-gray-300 hover:bg-gray-700 hover:text-white transition duration-200">
                    <i class="fas fa-shield-alt mr-3"></i> Security
                </a>
            </li>
        </ul>
    </nav>
</div>