@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-50: oklch(98% 0.05 230);
    --color-primary-100: oklch(95% 0.1 230);
    --color-primary-200: oklch(88% 0.15 230);
    --color-primary-300: oklch(78% 0.2 230);
    --color-primary-400: oklch(65% 0.25 230);
    --color-primary-500: oklch(55% 0.3 230);
    --color-primary-600: oklch(45% 0.35 230);
    --color-primary-700: oklch(38% 0.3 230);
    --color-primary-800: oklch(30% 0.25 230);
    --color-primary-900: oklch(22% 0.2 230);
}
